<!DOCTYPE html>
<html lang="en">
  <head>
    <meta vharset="" UTF-8 />
    <title>Brainstorm</title>
    <link rel="stylesheet" href="/styles/brainstorm.css" />
    <link rel="icon" type="image/png" href="/assets/OhmcordLogo.png" />
  </head>
  <body>
    <div class="header">
      <a href="/"><img class="logo" src="/assets/OhmcordLogo.png" /></a>
      <h1>Brainstorm</h1>
      <h3 id="hash-route"><%= locals.hash %></h3>
    </div>
    <div id="canvas-container">
      <div id="canvas-button-container">
        <button onclick="centerCanvas()">&#128162;</button>
        <button onclick="zoomIn()">&#128269;+</button>
        <button onclick="zoomOut()">&#128269;-</button>
      </div>
      <div id="canvas" data-brainstorm-id="<%= locals.id %>" data-ws-url="<%= locals.wsUrl %>"><h1 id="theme"><%= locals.theme %></h1></div>
    </div>
    <div class="footer">
      <p id="timer" data-end-time="<%= locals.endBrainstormAt %>"></p>
      <input type="text" id="add-contribution" placeholder="Neuer Beitrag..." />
      <button onclick="downloadCanvas()" id="download-button"><img src="/assets/download.svg" /></button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/scripts/brainstorm-canvas.js"></script>
    <script src="/scripts/brainstorm.js"></script>
  </body>
</html>
