<!DOCTYPE html>
<html lang="en">
  <head>
    <meta vharset="" UTF-8 />
    <title>Poll</title>
    <link rel="stylesheet" href="/styles/snackbar.css" />
    <link rel="stylesheet" href="/styles/display-poll.css" />
    <link rel="icon" type="image/png" href="/assets/OhmcordLogo.png" />
  </head>
  <body>
    <div id="page-container">
      <div class="header">
        <a href="/"><img class="logo" src="/assets/OhmcordLogo.png" /></a>
        <h1>Finished poll</h1>
        <h3 id="hashRoute" data-poll-id="<%= locals.id %>" data-hash-route="<%= locals.hashRoute %>"></h3>
      </div>

      <div id="poll-container" class="background">
        <div id="display-container">
          <div id="question-and-answers">
            <h2><%= locals.title %></h2>
            <div id="answers-list" answers-data="<%= locals.answers %>"></div>
          </div>
          <div id="poll-footer">
            <div id="additional-data">
              <% if(locals.multipleAnswers) { %>
              <div>Mehrere Antworten erlaubt.</div>
              <% } else { %>
              <div>Mehrere Antworten nicht erlaubt.</div>
              <% } %>

              <div id="duration-element" duration-data="<%= locals.duration %> "></div>
            </div>
            <div id="copy-code-container">&#128203; <%= locals.hashRoute %></div>

            <p>&larr;</p>

            <p>
              Klicken um den Code zu kopieren, <br />
              mit command <i>/poll</i> in Discord einfügen
            </p>
          </div>
        </div>
      </div>

      <div class="footer"></div>
      <div id="snackbar"></div>

      <script src="/scripts/snackbar.js"></script>
      <script src="/scripts/display-poll.js"></script>
    </div>
  </body>
</html>
