<!DOCTYPE html>
<html lang="en">
  <head>
    <meta vharset="" UTF-8 />
    <title>Poll</title>
    <link rel="stylesheet" href="/styles/display-poll.css" />
    <link rel="stylesheet" href="/styles/custom-alert.css" />
    <link rel="icon" type="image/png" href="/assets/OhmcordLogo.png" />
  </head>
  <body>
    <div id="page-container">
      <div class="header">
        <a href="/"><img class="logo" src="/assets/OhmcordLogo.png" /></a>
        <h1>Finished poll</h1>
        <h3 id="hashRoute" data-poll-id="<%= locals.id %>" data-hash-route="<%= locals.hashRoute %>"></h3>
      </div>

      <div id="poll-container" class="background">
        <div id="display-container">
          <div id="question-and-answers">
            <h2><%= locals.title %></h2>
            <div id="answers-list" answers-data="<%= locals.answers %>"></div>
          </div>
          <div id="poll-footer">
            <div id="additional-data">
              <% if(locals.multipleAnswers) { %>
              <div>Mehrere Antworten erlaubt.</div>
              <% } else { %>
              <div>Mehrere Antworten nicht erlaubt.</div>
              <% } %>

              <div id="duration-element" duration-data="<%= locals.duration %> "></div>
            </div>
            <div id="copy-code-container">&#128203; <%= locals.hashRoute %></div>

            <p>&larr;</p>

            <p>
              Klicken um den Code zu kopieren, <br />
              mit command <i>/poll</i> in Discord einfügen
            </p>
          </div>
        </div>
      </div>

      <div class="footer"></div>
      <script src="/scripts/custom-alert.js"></script>
      <script>
        const durationElement = document.getElementById("duration-element");
        const duration = parseInt(durationElement.getAttribute("duration-data"));

        if (duration === 1) {
          durationElement.innerHTML = `Dauer: ${duration} Stunde`;
        } else if (duration > 1 && duration < 25) {
          durationElement.innerHTML = `Dauer: ${duration} Stunden`;
        } else if (duration === 72) {
          durationElement.innerHTML = `Dauer: 3 Tage`;
        } else if (duration === 168) {
          durationElement.innerHTML = `Dauer: 1 Woche`;
        } else if (duration === 336) {
          durationElement.innerHTML = `Dauer: 2 Wochen`;
        }

        const answersList = document.getElementById("answers-list");
        const answersString = answersList.getAttribute("answers-data");

        const answers = JSON.parse(answersString);

        function displayEmoji(emoji) {
          if (emoji === "") return "";
          else if (emoji.includes(",")) return `&#${emoji.split(",")[0]};&#${emoji.split(",")[1]};`;
          else return `&#${emoji};`;
        }

        answers.forEach((answer) => {
          const answerElement = document.createElement("div");
          const emojiContainer = document.createElement("div");
          const answerText = document.createElement("div");

          emojiContainer.classList.add("emojiContainer");
          answerText.classList.add("answerText");
          answerElement.classList.add("answer-element");

          const emoji = displayEmoji(answer.emoji);
          emojiContainer.innerHTML = emoji;
          answerText.innerHTML = `${answer.answer}`;

          answerElement.appendChild(emojiContainer);
          answerElement.appendChild(answerText);
          answersList.appendChild(answerElement);
        });

        const copyCodeContainer = document.getElementById("copy-code-container");
        copyCodeContainer.addEventListener("click", () => {
          const code = document.getElementById("hashRoute").getAttribute("data-hash-route");
          navigator.clipboard.writeText(code);
          addAlert(code, `Erfolgreich in die Zwischenablage kopiert!`, 1000);
        });
      </script>
    </div>
  </body>
</html>
